# Local & IDE
*.iml
.gradle
local.properties
.DS_Store
/.idea/
.externalNativeBuild
.cxx

# Build output
/build
/app/build
/captures
*.class

# Sensitive files
google-services.json

# Kotlin generated
*.kotlin_module
/app/src/main/res/raw/

# APK & AAB
*.apk
*.aab
*.ap_

# ProGuard
*.map